<div class="gt-site-wrapper  gt-site-wrapper--blue">
  <div class="gt-site-wrapper__inner  gt-footer">
    <h5 class="gt-heading  gt-heading--light">Copyright <%= Time.now.year %> Greenville Together</h5>
  </div>
</div>