<div class="gt-site-wrapper  gt-site-wrapper--dark">
  <div class="gt-site-wrapper__inner">

    <div class="gt-header">
      <div class="gt-header__logo">
        <%= image_tag 'greenville_together_logo_light.svg', class: 'gt-logo' %>
      </div>

      <div class="gt-header__intro">
        <h1 class="gt-header__intro__main  gt-heading  gt-heading--light">Let's get down to business.</h1>
        <h4 class="gt-header__intro__sub  gt-heading  gt-heading--light">
          There are always challenges in keeping a local business running, but this is too much. The impact that COVID-19 has had, on everyone, is having an undeniable impact on our local economy. Now, more than ever, it’s important to support eachother.
          <br>
          <br>
          That’s the goal of this project, and I invite anyone in our local business community, looking to offer or receive support, to join in.
        </h4>
      </div>
    </div>

  </div>
</div>