$white: #ffffff;
$lightest_gray: #f1f1f1;
$light_gray: #e6e6e6;
$gray: #aaaaaa;
$dark_gray: #555555;
$darker_gray: #333333;
$darkest_gray: #222222;
$black: #000000;

$blue: #3a7ec1;
$green: #44bb8f;
$red: #eb4d4b;