.gt-input {
  text-align: left;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;

  &.gt-input--light {
    .gt-input__label {
      color: $gray;
    }

    .gt-input__field {
      color: white;
    }
  }
}

.gt-input__label {
  width: 100%;
  font-size: 1rem;
  -webkit-appearance: none;
  display: block;
  margin-bottom: 4px;
}

.gt-input__field {
  @include transition(border-bottom);
  width: 100%;
  font-size: 1rem;
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  box-shadow: none;
  display: block;
  padding: 8px 10px;
  margin-bottom: 12px;
  background-color: transparent;
  border-bottom: 1px solid $dark_gray;

  &:active, &:focus {
    border-bottom: 1px solid white;
  }
}

textarea.gt-input__field {
  background-color: $darker_gray;
  min-height: 100px;
  resize: vertical;
}