.gt-link {
  display: inline-block;
  color: $blue;
  margin: 0;
  position: relative;
  cursor: pointer;

  &:before, &:after {
    @include transition(all);
    content: '';
    display: block;
    height: 1px;
    width: 0;
    position: absolute;
    top: -1px;
    right: 0;
    background-color: $blue;
    opacity: 0;
    pointer-events: none;
  }

  &:after {
    top: auto;
    right: auto;
    bottom: -1px;
    left: 0;
  }

  &:hover {
    &:before, &:after {
      opacity: 1;
      width: 47%;
    }
  }
}

.gt-link--green {
  color: $green;

  &:before, &:after {
    background-color: $green;
  }
}

.gt-link--light {
  color: $white;

  &:before, &:after {
    background-color: $white;
  }
}

