.gt-service-summary {
  text-align: left;
  border-bottom: 2px dashed $lightest_gray;
  padding-top: 16px;
  padding-bottom: 16px;

  &:last-child {
    border-bottom: 0;
  }
}

.gt-service-summary__title {
  font-size: 1.15rem;
  margin: 0;
  margin-bottom: 4px;
  font-weight: 600;
}

.gt-service-summary__subtitle {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 8px;
  font-weight: 200;
}

.gt-service-summary__body {
  font-size: 1rem;
  margin: 0;
  font-weight: 100;
  margin-bottom: 16px;
}